<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chats.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <title>Senderr</title>
</head>
<body>
    <div id="title">Welcome {{ user_name }}</div>
    <div id="logoutBtn">
        <form method="post">
            <button type="submit" name="logout" value="clicked">Logout</button>
        </form>
    </div>

    <div id="chats">
        <ul>
            {% for name in names %}
                <li><a href="/message?selected_name={{ name }}"><button>{{ name }}</button></a></li>
            {% endfor %}
        </ul>
    </div>

    <footer>
        <div id="addUser">
            <form method="post">
                <label for="user_chat_name">User's name: </label><br>
                <input id="addTextInput" type="text" id="user_chat_name" name="user_chat_name" maxlength="64" required>
                <button id="addUserSubmitBtn">Add user to chat</button>
            </form>
        </div>

        <div id="errorMsg"></div>
    </footer>
    <script src="{{ url_for('static', filename='js/chats.js')}}"></script>
</body>