<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chats.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <title>Senderr</title>
</head>
<body>
    <div id="title" style="display: none;"></div>
    
    <button id="logoutBtn" style="display: none;">Logout</button>

    <div id="chats" style="display: none;">
        <ul>
        </ul>
    </div>

    <footer>
        <div id="addUser" style="display: none;">
            <form method="post">
                <label for="user_chat_name">User's name: </label><br>
                <input id="addTextInput" type="text" id="user_chat_name" name="user_chat_name" maxlength="64" required>
                <button id="addUserSubmitBtn">Add user to chat</button>
            </form>
        </div>
        <div id="errorMsg"></div>
    </footer>
    <script type="module" src="{{ url_for('static', filename='js/modules/crypto/cryptoUtils.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/chats.js')}}"></script>
</body>