<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css')}}">
    <title>Senderr</title>
</head>
<body>
    <div id="container">
    <form method="post" action='{{url_for('login')}}'>
        <div id="title">Login</div>
        <div class="inputBox" id="usernameBox">
            <label for="username">Username </label>
            <input type="text" id="username" name="username" minlength="4" maxlength="24" required>
        </div>

        <div class="inputBox" id="passwordBox">
            <label for="password">Password </label>
            <input type="password" id="password" name="password" minlength="8" maxlength="256" required>
        </div>

        <input id="submitBtn" type="submit" value="Login">

        <div id="errorMsg">
            {% if error%}
            <p>{{error}}</p>
            {% endif%}
        </div>

        <a href="/registration">Don't have an account?</a>
    </form>
    </div>
</body>
</html> 