<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messaging</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/message.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <div id="title">Name</div>
    
    <button id="return-btn">Return</button>
    
    <div id="chat-messages">
    </div>
    
    <div id="send-message-container">
        <input id="message-input" maxlength="256" required>
        <button id="send-msg-button">Send</button>
    </div>

    <script type="module" src="{{ url_for('static', filename='js/modules/crypto/cryptoUtils.js') }}"></script>
    <script type= "module" src="{{ url_for('static', filename='js/message.js')}}"></script>
</body>
</html>