<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senderr</title>
</head>
<body>
    <div>
        <h1>
            Welcome {{ user_name }}!
        </h1>
        <form method="post">
            <button type="submit" name="logout" value="clicked">Logout</button>
        </form>
    <hr>
    <hr>
    <form>
        <div>
            <label for="user_chat_name">User's name: </label>
            <input type="text" id="user_chat_name" name="user_chat_name" maxlength="16" required>
        </div>
        <input type="submit" value="Add user to chat">
    </form>